@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Page d'accueil";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenue</h1>

        @if (SignInManager.IsSignedIn(User))
        {
            <p>Gérez vos événements et vos billets en utilisant les bouttons de la barre de navigation "Événements" et "Billets".</p>
        }
        else
        {
            <p>Please log in or create your account.</p>
        }

    </div>
