@{ Layout = ""; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Success</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="jumbotron text-center">
    <h1 class="display-3">Merci !</h1>
    <p class="lead">Tu recevra bientôt un <strong>email</strong> contenant des <strong>informations</strong> ainsi que le <strong>billet.</strong></p>
    <hr>
    <p>
        Des questions? <a href="mailto:paul.meyer@schawnndev.fr">Contacte nous</a>
    </p>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>